*{
	font-family: "RobotoDraft";
}
paper-button:hover{
	background-color: #EDEDED;
}
#input{
	width: 51.4vw;
	border: 1px solid black;
	height: 4vh;
	border-top-left-radius: .5em;
	border-top-right-radius: .5em;
	font-size: 3vh;
	text-align: right;
}
#X{
	height: 3vw;
	width: 3vw;
	cursor: pointer;
	position: absolute;
	z-index: 2;
	top: 0vh;
	left: .5vw; 
}
#X:hover{
	height: 3.5vw;
	width: 3.5vw;
	top: -.5vh;
	left: .25vw;
}
paper-button{
	width: 4.5vw;
	height: 5.5vh;
	display: inline-block;
	word-spacing: 0;
}
#long{
	width: 13.9vw;
}
#end{
	float: right;
	display: block;
	height: 4vh;
	font-size: smaller;
}
#calculator{
	width: 51.7vw;
}
paper-ripple{
	overflow: hidden;
	z-index: -1;
	height: 4vh;
}
#end::shadow paper-ripple{
	color: #4285f4;
}