html,body,*{
    margin:0px;
    padding:0px;
    font-family:"Roboto",sans-serif;
}
html,body{
    background-image:url(/PRSDashboard2-master/Pictures/background.jpg);
    background-height:100vh;
    text-align:center;
}
img{
    user-drag:none;
    -moz-user-drag:none;
    -webkit-user-drag:none;
}
.bar{
    width:14vw;
    height: calc(100% + 100px);
    margin-top:-100px;
    position:fixed;
    z-index:1;
    background-color:rgba(255,255,255,0.8);
    box-shadow:0px 0px 10px #888;
    display:none;
    opacity:0;
    padding-top:100px;
    box-sizing:border-box;
}
/*------------------------------------------------*/
/*Login Screen*/
#loginscreen{
    width:110%;
    height:210%;
    background-color:rgba(0,0,0,0.7);
    margin-top:-100%;
    position:fixed;
}
#loginbox{
    position:absolute;
    width:500px;
    height:320px;
    background-color:white;
    left:50%;bottom:50%;
    margin-left:-250px;
    border-radius:4px;
    font-weight:16px;
}
.logintitle{
    float:left;
    margin-top:15px;
    text-align:center;
    font-size:40px;
    width:500px;
}
.logintext{
    width:480px;
    margin-left:10px;
    margin-top:20px;
    border:2px solid black;
    border-radius:4px;
    resize:none;
    height:40px;
    font-size:20px;
    padding:5px;
    box-sizing:border-box;
}
.submit{
    width:200px;
    height:35px;
    text-align:center;
    font-size:25px;
    background-color:black;
    color:white;
    display:inline-block;
    border-radius:4px;
    margin-top:20px;
    cursor:pointer;
    transition:0.4s;
}
#createbutton{
    cursor:pointer;
    transition:0.25s;
}
#createbutton:hover{
    color: #535353;
}
.notification{
    height:1.75vw;
    width:1.75vw;
    border-bottom-left-radius:1.75vw;
    border-top-right-radius:4px;
    text-align:center;
    box-sizing:border-box;
    padding-left:0.7vw;
    padding-top:0.1vw;
    float:right;
    font-size:1.2vw;
    color:white;
}
/*------------------------------------------------*/
/*Right Bar+Apps overlay*/
#appoverlay{
    position:absolute;
    right:0px;
    left:0px;
    width:100vw;
    height:139.99vh;
    background-color:rgba(255,255,255,0.95);
    opacity:0;
    display:none;
    z-index:100;
}
.icon{
    margin-top: 3vh;
    float: left;
    margin-left: 4vw;
    cursor: pointer;
}
.applist{
    font-size:30px;
    height:40px;
    text-align:left;
    box-sizing:border-box;
    position:relative;
    width:100%;
    padding-left:5px;
    transition:0.5s ease-out;
    cursor:pointer;
    transition:0.5s ease-out;
}
.applist img{
    float:right;
    position:absolute;
    height:25px;
    width:25px;
    margin-top:7.5px;
    right:5px;
    transition:0.5s ease-out;
    -webkit-transition:0.5s ease-out;
}
.applist:hover{
    box-shadow:0px 0px 3px #888;
}
.applist:active{
    box-shadow:0px 0px 6px #888;
}
#settingsbar{
    right:0px;
}
.submit{
    font-size:20px;
    padding-bottom:2px;
    padding-top:2px;
    width:30%;
    color:white;
    background-color:black;
    border-radius:2px;
    display:inline-block;
    cursor:pointer;
}
.submit:hover{
    box-shadow:0px 0px 6px #888;
}
.submit:active{
    box-shadow:0px 0px 8px black;
}
/*------------------------------------------------*/
/*Settings*/
#classsettings{
    font-size:100%;
}
#classsettings table{
    width:100%;
}
#classsettings textarea{
    border:0px;
    background-color:transparent;
    font-family:"Roboto",sans-serif;
    font-size:100%;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow:none;
    padding-left:-20px;
    width:100%;
    resize:none;
    overflow:hidden;
    padding-top:3.9vh;
}
/*------------------------------------------------*/
/*Header*/
.title{
    font-size:34px;
}
#header{
    width:100%;
    padding:5px;
    box-sizing:border-box;
}
.appbutton{
    position:absolute;
    left:5px;
    top:0px;
    cursor:pointer;
    z-index:11;
    opacity:0.99;
    transition:0.5s;
}
.appbutton img{
    cursor:pointer;
    width:2vw;
    margin:5px;
}
#title{
    display:inline-block;
    font-size:5vw;
    color:black;
    margin-top:10px;
}
#date{
    font-size:25px;
    margin-top:-5px;
    margin-bottom:-40px;
}
#settings{
    position:absolute;
    right:5px;
    top:0px;
}
#settings img{
    cursor:pointer;
    width:2vw;
    margin:5px;
    display:block;
}
/*------------------------------------------------*/
/*Day Bar and Class Cards*/
#dayview{
    width:100%;
    padding:10px;
    box-sizing:border-box;
    margin-top:40px;
}
#daybar{
    width:80%;
    height:30px;
    background-color:white;
    display:inline-block;
    transition:0.5s ease-out;
    border-radius:3px;
    box-shadow: 0px 0px 8px darkgrey;
}
.period{
    height:30px;
    float:left;
    background-color:black;
}
#period1{
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}
#period8{
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
}
#classlist{
    vertical-align:top;
    width:auto;
}
.class{
    width:8%;
    background-color:white;
    display:inline-block;
    margin:15px;
    margin-top:45px;
    transition:0.5s ease-out;
    border-radius:4px;
    padding:10px;
    font-size:1vw;
    box-sizing:border-box;
    text-align:left;
    box-shadow: 0px 0px 8px darkgrey;
}
.classheader{
    border-top-left-radius:4px;
    border-top-right-radius:4px;
    height:1vw;
    margin:-10px;
    margin-bottom:10px;
    background-color:black;
}
.class .title{
    font-size:1.5vw;
}
/*------------------------------------------------*/
/*Calendar*/
#calendarsection{
    width:70%;
    min-width:400px;
    display:inline-block;
    min-height:50px;
    background-color:white;
    box-shadow: 0px 0px 8px darkgrey;
    opacity:0.95;
    boz-sizing:border-box;
    border-radius:4px;
}
#calendar{
    width:70%;
    float:left;
}
#calendartitle{
    font-size:2.4vw;
    padding:4px;
    box-sizing:border-box;
}
.calendarday{
    width:12%;
    margin:0.5%;
    height:60px;
    box-shadow:0px 0px 4px #888;
    border-radius:2px;
    display:inline-block;
}
.calendardayname{
    width:12%;
    margin:0.5%;
    height:40px;
    font-size:1vw;
    border-radius:2px;
    display:inline-block;
    font-weight:bold;
}
/*------------------------------------------------*/
/*App Overlay+Tasks*/
#appssection{
    width:70%;
    text-align:center;
    display:inline-block;
}
.app{
    width:30%;
    min-width:300px;
    margin-right:5%;
    margin-top:10px;
    text-align:center;
    background-color:white;
    box-shadow: 0px 0px 8px darkgrey;
    border-radius:4px;
    display:none;
    opacity:0;
    vertical-align:top;
}
#tasks{
    width:30%;
    float:right;
    padding-right:20px;
    box-sizing:border-box;
}
#taskstitle{
    font-size:2vw;
}
#createdtasks{
    max-height:265px;
}
.task{
    width:100%;
    display:inline-block;
    font-size:1vw;
    box-sizing:border-box;
    text-align:left;
}
#newtask{
    cursor:pointer;
    transition:0.3s ease-out;
    text-align:center;
    font-size:1.2vw;
    box-sizing:border-box;
    text-align:center;
    position:relative;
}
#newtask:hover{
    background-color:lightgrey;
}
#newtask:active{
    background-color:darkgrey;
}
#newtask img{
    float:right;
    margin:5px;
    height:1.25vw;
    position:absolute;
    right:0px;
}
.color{
    width:5px;
    height:36px;
    background-color:#0099FF;
    float:left;
}
.taskname{
    width:calc(100% - 5px);
    height:36px;
    resize:none;
    font-size:24px;
    font-family:"Roboto",sans-serif;
    float:left;
    border:none;
    box-sizing:border-box;
    padding-left:10px;
    border: none;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    background-color:transparent;
}
/*------------------------------------------------*/
/*Calculator*/
form input{
    border: 0.09em solid white;
    margin: 0;
}
#number{
    background-color: #E0E0E0;
    width: 2.55vw;
    height: 3vh;
    cursor: pointer;
}
#toprow{
    background-color: #C9C9C9;
    width: 2.55vw;
    height: 3vh;
    display: inline-block;
    cursor: pointer;
}
#zero{
    background-color: #E0E0E0;
    word-spacing: 0;
    width: 5.4vw;
    height: 3vh;
    cursor: pointer;
}
#operator{
    background-color: #3A95F7;
    word-spacing: 0;
    width: 2.55vw;
    height: 3vh;
    cursor: pointer;
}
#input{
    background-color: #3A3B3B;
    opacity: .5;
    width: 19.7vw;
    height: 3vh;
    border: 1px solid grey;
    color: white;
    border-top-left-radius: 5px; 
    border-top-right-radius: 5px;
}
#calculator{
    border: 1px solid black;
    width: 20.02vw;
    border-radius: 5px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 50vh;
    height: 21vh;
}
 #left{
     background-color: #C9C9C9;
     width: 2.55vw;
     height: 3vh;
     text-align: center;
     cursor: pointer;
 }
#Bksp{
    background-color: #C9C9C9;
    width: 5.41vw;
    height: 3vh;
    text-align: center;
    cursor: pointer;
}
.none{
    display: none;
}
#X{
    height: 3vh;
    position: relative;
    left: 10.1vw;
    background-color: #EDEDED;
    border-radius: 100%;
    cursor: pointer;
    bottom: 21.5vh;
    /*display: none;*/
}
