html,body,*{
    margin:0px;
    padding:0px;
    font-family:"RobotoDraft",sans-serif;
}
html,body{
    background-image:url(/Pictures/background.jpg);
    background-height:100vh;
    text-align:center;
    overflow:hidden;
}
.night{
    height:100%;
    background-image: url(http://assets.inhabitat.com/wp-content/blogs.dir/1/files/2010/09/PacRidge8-537x429.jpg);
    background-size:cover;
}
img{
    user-drag:none;
    -moz-user-drag:none;
    -webkit-user-drag:none;
}
.bar{
    
}
/*------------------------------------------------*/
/*Login Screen*/
.close{
    position:absolute;
    float:right;
    display:block;
    color:red;
    right:0px;
}
.screen{
    width:100vw;
    height:100vh;
    position:absolute;
    top:0px;
    left:0px;
    background-color:rgba(0,0,0,0.75);
}
    #loginscreen{
        
    }
.box{
    position:absolute;
    background-color:white;  
    border-radius:0.25vw;
}
    #loginbox{
        top:5vw;
        left:35vw;
        width:30vw;
        height:22vw;
    }
.logintitle{
    text-align:center;
    font-size:2.6vw;
    margin-top:0.3vw;
}
    .form paper-input{
        width:80%;
        text-align:left;
        font-size:1.25vw;
    }
    .form paper-button{
        display:block;
        width:40%;
        margin-left:30%;
        height:2.4vw;
        font-size:1vw;
    }
#createbutton{
    cursor:pointer;
    color: black;
}
#createbutton:hover{
    color: #3B3B3B;
}
/*------------------------------------------------*/
/*Settings Screen*/
#settingsscreen{
    opacity:0;
}
    #settingsbox{
        opacity:0;
        position:relative;
        width:40vw;
        height:80vh;
        left:30vw;
        top:10vh;
    }
        #settingsbox paper-input{
            display:block;
            font-size:1vw;
            width:20vw;
            text-align:left;
            margin-left:1.5vw;
        }
    #settingssave{
        position:absolute;
        bottom:1vw;
        right:1vw;
        font-size:1vw;
    }
/*------------------------------------------------*/
/*Create*/
.create{
    position:absolute;
    right:1vw;
    bottom:1vw;
    width:65px;
    height:360px;
}
#createmenu{
    position:absolute;
    right:0.5vw;
    bottom: 0vh;
}
    .createsmall{
        opacity:0;
        z-index: 5;
    }
    .createsmaller{
        height: 40px;
        width: 40px;
        padding:8px;
    }
        #document{
            background-color:#5677fc;
        }
        #task{
            background-color:#259b24;
        }
        #reminder{
            background-color:#FF9933;
        }
        #email{
            background-color:#CC33FF;
        }
        #group{
            background-color:#33CCCC; 
        }
        #project{
            background-color:#FF0066;   
        }
        #taskwhole{
            position: absolute;
			left: 0;
        }
        #reminderwhole{
            position: absolute;
			left: 0;
        }
        #emailwhole{
            position: absolute;
			left: 0;
        }
        #groupwhole{
            position: absolute;
			left: 0;
        }
        #projectwhole{
            position: absolute;
			left: 0;
        }

#createcontainer{
    color:#fff;
    position:absolute;
    right:0vw;
    bottom:0vw;
}
    #create{
        height:4vw;
        width:4vw;
        padding:1vw;
        transition:0.5s;
    }
    .create:hover #create{
        transform:rotate(90deg);
    }
.multipurpose{
    width:70vw;
    height:45vh;
    position:absolute;
    bottom:0vw;
    margin-bottom:-45vh;
    left:15vw;
    background-color:white;
    border-top-left-radius:0.2vw;
    border-top-right-radius:0.2vw;
    box-shadow:0px 0px 6px #626262;
}
    .multiheader{
        font-size:3vw;
        display:block;
        margin:1vw;
        text-align:left;
        margin-bottom:0px;
    }
    .multipurpose paper-input{
        width:65%;
        text-align:left;
        font-size:1.2vw;
        display:block;
        margin-left:1vw;
        margin-top:-2vh;
    }
    #taskcreation{
        width:40vw;  
        left:30vw;
    }
    .multipurpose paper-dropdown-menu {
        box-sizing: border-box;
        width:10vw;
        display:block;
        float:left;
        margin-left:1vw;
    }
    .multipurpose paper-dropdown{
        top:30px;
    }
    .multipurpose core-menu {
        box-sizing: border-box;
        width:10vw;
    }
    paper-item {
        font-size:1.2vh;
        box-sizing:border-box;
    }
    .multipurpose paper-button{
        float:right;
        position:absolute;
        right:1vw;
        bottom:1vw;
    }
/*------------------------------------------------*/
/*Header*/
#header{
    background-color:white;
    font-size:2vw;
    text-align:left;
}
    paper-icon-button{
        padding:5px;
        opacity:0.65;
    }
        paper-icon-button:hover{
        opacity:1;
    }
/*------------------------------------------------*/
/*Calendar*/
#calendar{
    width:80vw;
    height:6.6vw;
    background-color:white;
    display:inline-block;
    margin-top:1.2vw;
    margin-bottom:1.2vw;
}
    .day{
        width:11.4285vw;
        height:6.6vw;
        float:left;
        box-sizing:border-box;
        border-right:1px solid #838383;
    }
        .day core-tooltip{
            width:80%;
            font-size:1vw;
            color:white;
            height:1.5vw;
            margin-top:0.2vw;
        }
        .day core-tooltip p{
            border-radius:0.15vw;
        }
        #cd7{
            border:none;
        }
    .date{
        width:100%;
        height:1.4vw;
        font-size:1.2vw;
        text-align:center;
        box-sizing:border-box;
        position:relative;
    }
        .datenumber{
            float:left;
            text-align:left;
            padding-left:0.2vw;
            font-weight:bold;
            position:absolute;
            left:0px;
        }
/*------------------------------------------------*/
/*Day Bar and Class Cards*/
#dayview{
    width:100%;
    padding:10px;
    box-sizing:border-box;
}
#daybar{
    width:80%;
    height:30px;
    background-color:white;
    display:inline-block;
    transition:0.5s ease-out;
    box-shadow: 0px 0px 8px darkgrey;
}
.period{
    height:30px;
    float:left;
    background-color:black;
}
#period1{
}
#period8{
}
#classlist{
    vertical-align:top;
    width:auto;
}
.class{
    width:8%;
    background-color:white;
    display:inline-block;
    margin:15px;
    margin-top:45px;
    transition:0.5s ease-out;
    padding:10px;
    font-size:1vw;
    box-sizing:border-box;
    text-align:left;
    border-radius:0.15vw;
}
.classheader{
    height:1.2vw;
    margin:-10px;
    margin-bottom:0.7vw;
    background-color:black;
    border-top-left-radius:0.15vw;
    border-top-right-radius:0.15vw;
}
.class .title{
    font-size:1.5vw;
}
.notification{
    height:1.75vw;
    width:1.75vw;
    text-align:center;
    box-sizing:border-box;
    padding-left:0.7vw;
    padding-top:0.1vw;
    float:right;
    font-size:1.2vw;
    color:white;
}
/*------------------------------------------------*/
/*Apps*/
.app{
    max-width:100%;
    text-align:center;
    background-color:white;
    display:inline-block;
    box-sizing:border-box;
    padding:0vw;
    margin:0.5vw;
    vertical-align:top;
}
/*------------------------------------------------*/
/*Calculator*/
form input{
    border: 0.09em solid white;
    margin: 0;
}
#number{
    background-color: #E0E0E0;
    width: 2.55vw;
    height: 3vh;
    cursor: pointer;
}
#toprow{
    background-color: #C9C9C9;
    width: 2.55vw;
    height: 3vh;
    display: inline-block;
    cursor: pointer;
}
#zero{
    background-color: #E0E0E0;
    word-spacing: 0;
    width: 5.4vw;
    height: 3vh;
    cursor: pointer;
}
#operator{
    background-color: #3A95F7;
    word-spacing: 0;
    width: 2.55vw;
    height: 3vh;
    cursor: pointer;
}
#input{
    background-color: #3A3B3B;
    opacity: .5;
    width: 19.7vw;
    height: 3vh;
    border: 1px solid grey;
    color: white;
}
#calculator{
    border: 1px solid black;
    width: 20.02vw;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 50vh;
    height: 20.6vh;
}
 #left{
     background-color: #C9C9C9;
     width: 2.55vw;
     height: 3vh;
     text-align: center;
     cursor: pointer;
 }
#Bksp{
    background-color: #C9C9C9;
    width: 5.41vw;
    height: 3vh;
    text-align: center;
    cursor: pointer;
}
.none{
    display: none;
}
#X{
    height: 3vh;
    position: relative;
    left: 10.1vw;
    background-color: #EDEDED;
    border-radius: 100%;
    cursor: pointer;
    bottom: 21.5vh;
    /*display: none;*/
}
